body {
    background-image: url("https://static.vecteezy.com/system/resources/previews/007/410/558/original/minimalist-pastel-color-blob-aesthetic-background-wallpaper-template-poster-free-vector.jpg");
    background-size: cover;
}

header {
    font-size: larger;
    width: 100%;
}

footer {
    clear: both;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.name {
    float: left;
    padding: 25px;
}

.home {
    float: right;
    padding: 25px;
}

.column {
    float: left;
    width: 33%;
    padding: 10px 3px;
    box-sizing: border-box;
    align-content: center;
}

.row {
    display: inline-flex;
    clear: both;
    margin: 3px;
    padding: 3px;
    width: 55%;
    float: left;
}

.me {
    width: 100%;
}

.intro {
    float: right;
    text-align: center;
    margin-right: 6%;
    margin-top: 15%;
    font-size: large;
}

.button {
    border-radius: 20px;
    padding: 5% 25%;
    text-size-adjust: 10%;
    font-size: 20px;
    margin: 10px;
    background-color: white;
    color: black;
    cursor: pointer;
}

.socials {
    height: 30px;
    width: 30px;
    padding: 3%;
}